<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>CAPSULE PHARMA - Add Medicine</title>
      <!-- Font Awesome -->
      <link rel="icon" type="image/x-icon" href="../asset/img/logo1.png">
      <link rel="stylesheet" href="../asset/fontawesome/css/all.min.css">
      <link rel="stylesheet" href="../asset/css/adminlte.min.css">
      <link rel="stylesheet" href="../asset/css/style.css">

   </head>
   <body class="hold-transition sidebar-mini layout-fixed">
      <div class="wrapper">
         <!-- Navbar -->
         <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="background-color:#191c24;height: 75px;border: #191c24;">
            <!-- Left navbar links -->
  <ul class="navbar-nav">
     <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"  style="color: rgba(255, 255, 255, 0.577)"><i class="fas fa-bars"></i></a>
     </li>
  </ul>
 
  <div class="row d-flex px-4">
   <div class="card1" style="font-weight: 500">
       <br>
       
       <p class="time-font mb-0 ml-4 mt-auto" id="current_time" style="color:#c2c7d0" ></p>
       <p class="ml-4 mb-4" id="current_date"  style="color:#c2c7d0">Wednesday, 18 October 2019</p>
       <script>
        //  document.getElementById("current_date").innerHTML = Date();
       </script>
   </div>
</div>
 
     <!-- Right navbar links -->
     <ul class="navbar-nav ml-auto">
        <li class="nav-item">
           <a  class="nav-link" data-widget="fullscreen" href="#" role="button"  style="color: rgba(255, 255, 255, 0.577)">
           <i class="fas fa-expand-arrows-alt" ></i>
           </a>
        </li>
        <li class="nav-item">
           <a class="nav-link" data-widget="fullscreen" href="/logout"  style="color: rgba(255, 255, 255, 0.577)" onclick="return confirm('Do you Want to Logout')" >
           <i class="fas fa-power-off"></i>
           </a>
        </li>
     </ul>
    
  </nav>
         <!-- /.navbar -->
         <!-- Main Sidebar Container -->
         <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color:#191c24;">
            <!-- Brand Logo -->
<a href="index.html" class="brand-link animated swing" style="margin-top:20px;">
   <p style="margin-left: 100px"><B>CAPSULE <br>PHARMA</B></p>
<img src="../asset/img/logo1.png" alt="DSMS Logo" width="80" style="margin-top:-65px;margin-top: -120px;">

</a>
<!-- Sidebar -->
<div class="sidebar">
   <!-- Sidebar user panel (optional) -->
   <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
         <img src="../asset/img/admin.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
         <a href="#" class="d-block" style="margin-left:15px;margin-top:5px"><i style="font-size:14.5px"><%=username%></i></a>
      </div>
   </div>

   <!-- Sidebar Menu -->
   <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column " class="mt" data-widget="treeview" role="menu" data-accordion="false">
         <li class="nav-item">
            <a href="/dashboard" class="nav-link">
               <img src="../asset/img/medicine.png" style="width:20px; margin-left: 3.5px;margin-top: -6px; opacity: .75;">
               <p style="margin-left:6px">
                  Dashboard
               </p>
            </a>
         </li>
         <li class="nav-item">
            <a href="#" class="nav-link">
               <img src="../asset/img/user 64.png" style="width:22px; margin-left: 3px; opacity: .75;">
               <p style="margin-left:5px">
                  Admin
               </p>
                  <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
               <li class="nav-item">
                  <a href="/signup" class="nav-link">
                     <i class="nav-icon fa fa-plus"></i>
                     <p>Add</p>
                  </a>
               </li>
               <li class="nav-item">
                  <a href="/userManage" class="nav-link">
                     <i class="nav-icon fa fa-list"></i>
                     <p>Manage</p>
                  </a>
               </li>
            </ul>
         </li>
         <li class="nav-item">
            <a href="#" class="nav-link">
               <i class="nav-icon fas fa-capsules"></i>
               <p>
                  Medicine
               </p>
                  <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
               <li class="nav-item">
                  <a href="/addMed" class="nav-link">
                     <i class="nav-icon fa fa-plus"></i>
                     <p>Add</p>
                  </a>
               </li>
               <li class="nav-item">
                  <a href="medList" class="nav-link">
                     <i class="nav-icon fa fa-list"></i>
                     <p>Medicine List</p>
                  </a>
               </li>
            </ul>
         </li>
         <li class="nav-item">
            <li class="nav-item">
               <a href="#" class="nav-link">
                  <img src="../asset/img/report.png" style="width:20px; margin-left: 2px;margin-top: -4px; opacity: .75;">
                  <p>
                     Reports
                  </p>
                     <i class="right fas fa-angle-left"></i>
               </a>
               <ul class="nav nav-treeview">
                  <li class="nav-item">
                     <a href="/reports" class="nav-link">
                        <i class="nav-icon fa fa-plus"></i>
                        <p>Sales Report</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="/iteminfo" class="nav-link">
                        <i class="nav-icon fa fa-list"></i>
                        <p>Purchase Reports</p>
                     </a>
                  </li>
               </ul>
            </li>
         
         <li class="nav-item">
            <a href="/invoice" class="nav-link">
               <!--<i class="nav-icon fa fa-tablets"></i>-->
               <img style="width: 19px; margin-left: 3px;margin-top: -4px; opacity: .75;" src="../asset/img/invoice-64.png" alt="" srcset="">
               <p style="margin-left:6px;">
                  Invoice
               </p>
            </a>
         </li>  
       
         
      
      </ul>
   </nav>
   <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
</aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper" style="background-color:rgb(26, 26, 39);">
         <!-- Content Header (Page header) -->
         <div class="content-header">
            <div class="container-fluid">
               <div class="row mb-2">
                  <div class="col-sm-6 animated bounceInRight">
                     <h1 class="m-0" style="color: white;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><span class="fa fa-capsules"></span> Add Medicine</h1>
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-6">
                     <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Add Medicine</li>
                     </ol>
                  </div>
                  <!-- /.col -->
               </div>
               <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
         </div>
         <!-- /.content-header -->
         <!-- Main content -->
         <section class="content">
            <div class="container-fluid">
               <div class="card2 card-info">
                  <div class="card-header" style="  background-image: linear-gradient(to bottom right, rgb(10, 23, 124), rgb(7, 9, 54));">
                     <h3 class="card-title">Medicine Information</h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                  <form action="/addnew" method="post">
                     <div class="card-body" style=" background-color: #191c24; color: white;" >
                        <div class="row">
                           <div class="col-md-12">
                              <div class="card-header">
                                 
                              </div>
                              <div class="row">
                                 <div class="col-md-4">
                                    <div class="form-group">
                                       <label>Medicine Batch</label>
                                       <input type="text" class="form-control" placeholder="BTCH-123" name="batch" >
                                    </div>
                                 </div>
                                 <div class="col-md-4">
                                    <div class="form-group">
                                       <label>Medicine Name</label>
                                       <input type="text" class="form-control" placeholder="medicine name" name="medname">
                                    </div>
                                 </div>
                               
                                
                                 <div class="col-md-3">
                                    <div class="form-group">
                                       <label>Sales Price</label>
                                       <input type="text" class="form-control" placeholder="price" name="sales_price">
                                    </div>
                                 </div>
                                 <div class="col-md-3">
                                    <div class="form-group">
                                       <label>Expiry Date</label>
                                       <input type="date" class="form-control" name="expdate" >
                                    </div>
                                 </div>
                                 <div class="col-md-3">
                                    <div class="form-group">
                                       <label>Quantity on Hand</label>
                                       <input type="number" class="form-control" placeholder="quantity" name="stock">
                                    </div>
                                 </div>
                                 <div class="col-md-3">
                                    <div class="form-group">
                                       <label>Purchase Date</label>
                                       <input type="date" class="form-control" name="purchase_date" >
                                    </div>
                                 </div>
                                 <div class="col-md-3">
                                    <div class="form-group">
                                       <label>Purchase Price</label>
                                       <input type="text" class="form-control" placeholder="Purchase Price" name="purchase_price" >
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                     </div>
                     <!-- /.card-body -->

                     <div class="card-footer" style="background-color: #191c24;">
                        <button type="submit" class="btn btn-primary" onclick="return alert('Successfully Inserted')"  style="background-image: linear-gradient(to bottom right, rgb(10, 23, 124), rgb(7, 9, 54));">Save</button>
                     </div>
                  </form>
                  
               </div>
              
            </div>
            <footer class="page-footer font-small blue" style=" margin-left:-1rem ;">

               <!-- Copyright -->
               <div class="footer-copyright text-center py-3" style="margin-top: 170px; color:rgba(186, 184, 185, 0.845)"><B>© CAPSULE PHARMA</B>
                 
               </div>
               <!-- Copyright -->
             
             </footer>
            <!-- /.container-fluid -->
         </section>
         <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
   </div>
   <!-- ./wrapper -->
   <!-- jQuery -->
   <script src="../asset/jquery/jquery.min.js"></script>
   <script src="../asset/js/adminlte.js"></script>
   <script>
               
      const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ]; 
      const d = new Date();
      var dd = String(d.getDate()).padStart(2, '0');
      var mm = String(d.getMonth() + 1).padStart(2, '0');
      var yyyy = d.getFullYear();
      var fullDate = +dd +"-"+ monthNames[d.getMonth()] +"-"+ yyyy;
      document.getElementById("current_date").innerHTML = fullDate;
      
      var today = new Date();
      var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
      document.getElementById("current_time").innerHTML=time;


</script>
   

</body>

</html>